form {
    padding: 20px;
  }
  
  input {
    margin: 10px 0;
  }

  
button {
    
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #603bbb;
    cursor: pointer;
  } 
  
  